[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{kt,kts}]
max_line_length = 180
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_string-template-indent = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_blank-line-before-declaration = disabled
ktlint_standard_function-signature = disabled
ktlint_function_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than = unset
ktlint_function_signature_body_expression_wrapping = default
ktlint_standard_backing-property-naming = disabled
